h1 {
    color: #000000;
}

body, html {
    margin: 0; 
    height: 100%; 
    width: 100%;
    overflow-x: hidden;
    background-color: white;
}

body {
    width: 100%;
    margin-right: 0;
    padding-right: 0;
}

.image-container {
    position: relative; 
    width: 100%; 
    height: 75%; 
    overflow-x: hidden; 
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    flex-direction: column;
}

.background {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: 1; 
}

.headshot {
    position: relative; 
    width: 200px;
    height: auto; 
    border-radius: 50%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2; 
}

.name {
    position: relative;
    z-index: 2; 
    letter-spacing: 0;
    margin-top: 8px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    font-size: 32px; 
}

#name-text {
    color: white;
    font-family: "proxima-nova", sans-serif;
    font-style: normal;
}

.main {
    font-size: 20px;
    font-family: "proxima-nova", sans-serif;
    font-style: normal;
    color: black;
    margin-left: 20px;
    margin-right: 35%;
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

hr {
    border: none;
    height: 3px; 
    background-color: black; 
    margin: 5px 0; 
}

.LeftSide {
    flex: 6;
}

.Sidebar {
    flex: 2;
    text-align: left;
    align-items: center;
    margin-right: 2%;
    margin-left: 5%;
}

.bottom {
    width: 100%;
    margin-top: 5px;
    height: 100px;
    background-color:rgb(255, 255, 255);
}

.ProjectsTitle {
    font-size: 32px;
    margin-top: 12px;
    margin-bottom: 5px;
    padding: 5px;
}

h3 {
    margin-top:12px;
    margin-bottom:0px;
    padding:5px;
    display:inline;
}

.ContactTitle {
    margin-top: 12px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
}

.GithubLink {
    font-style: italic;
    color: #000000;
}

.fa-envelope-square {
    color: #007bff;
}

.fa-linkedin {
    color: #007bb6;
}

.Sidebar a {
    text-decoration: none;
    color: black;
}

.Sidebar i {
    margin-right: 8px;
}

.Sidebar a:hover {
    text-decoration: underline;
}

.fas, .fab, .fa-file-lines {
    margin-left: 25%;
}

.headerText {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.headerTitle {
    text-align: left; 
    margin-bottom: 0;
    margin-top: 8px;
    padding: 0;
}

.headerDate {
    text-align: right;
    margin-top: 8px;
    margin-bottom: 0px;
    padding: 0;
}

.subheaderText {
    display: flex;             
    justify-content: space-between;
    align-items: center; 
    font-style: italic;
    font-size: 1.17em;
    margin: 0;
    padding: 0;
}

.subheaderTitle {
    text-align: left;         
    margin-top: 0;
    margin-bottom: 0px;
    padding-right: 10px;
}

.subheaderLocation {
    text-align: right; 
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.InteractionLink {
    color:#000000;
}

.Project {
    margin-top: 8px;
}

.projectInfo {
    margin-bottom: 10px;
}

.projectInfo2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.titleLink {
    display: flex;
    align-items: center; 
}

:root {
    --gap: 9.453125vw; 
}


.carousel {
    width: 100%;
    overflow: hidden;
    background-color: white;
    position: relative;
    display: block;
}

.carousel-track {
    display: flex;
    animation: scroll 20s linear infinite; 
    background-color: white;
    gap: var(--gap);
}

.javaImg {
    margin-right: 5px;
}

.carousel-track img {
    flex-shrink: 0;
    background-color: white;
    height: 150px;
    width: auto;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1020.18px - 7 * var(--gap)));
    }
}

.pageContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

@media (max-width: 860px) {
    .carousel {
        display: none;
    }
    .main {
        flex-direction: column;
    }
    
}

@media (max-height: 500px) {
    .carousel {
        display: none;
    }
}